---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Role from '../components/Role.astro';
---

<Layout title="Andrew Hudson - Senior Front-end Software Engineer">
	<main>
		<ul role="list" class="link-card-grid">
			<Role
				url="https://ventureharbour.com"
				company="Venture Harbour Ltd"
				position="Senior Front-end Software Engineer"
				from="10-2017"
				to="03-2023"
				tags={['css', 'javascript', 'html']}
				description="I was the most excellent of excellent people."
			/>

			<Role
				url="https://taylorandfrancis.com/"
				company="Taylor and Francis"
				position="Full Stack Software Engineer"
				from="10-2016"
				to="10-2017"
				tags={['css', 'javascript', 'html']}
				description="I was the most excellent of excellent people."
			/>

			<Role
				url="https://photocrowd.com/"
				company="Photocrowd"
				position="Front-end React Developer"
				from="03-2016"
				to="08-2016"
				tags={['css', 'javascript', 'html']}
				description="I was the most excellent of excellent people."
			/>

			<Role
				url="https://electricstudio.co.uk/"
				company="Electic Studio"
				position="Front-end WordPress Developer"
				from="01-2013"
				to="02-2016"
				tags={['css', 'javascript', 'html', 'wordpress']}
				description="I was the most excellent of excellent people."
			/>

			<Role
				company="Heath Wallace"
				position="Creative UI Developer"
				from="01-2013"
				to="02-2016"
				tags={['css', 'javascript', 'html', 'wordpress']}
				description="I was the most excellent of excellent people."
			/>

			
			
		</ul>
	</main>
</Layout>

<style>
	
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(70ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
